<!-- src/app/dashboard/components/liste-des-comptes/liste-des-comptes.component.html -->

<div class="container mt-4">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Numéro de compte</th>
        <th>Solde</th>
        <th>Nom du client</th>
        <th>Prénom du client</th>
        <th>Email du client</th>
        <th>Téléphone du client</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.accountNumber }}</td>
        <td>{{ item.solde }}</td>
        <td>{{ item.client?.nom }}</td>
        <td>{{ item.client?.prenom }}</td>
        <td>{{ item.client?.email }}</td>
        <td>{{ item.client?.tel }}</td>
      </tr>
    </tbody>
  </table>
</div>
