<div class="modal-header">
  <h5 class="modal-title">Modifier un client</h5>
  <button type="button" class="btn-close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="clientForm"  (ngSubmit)="saveChanges()" >
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input id="nom" formControlName="nom" class="form-control" />
      <div *ngIf="clientForm.get('nom')?.invalid && clientForm.get('nom')?.touched" class="text-danger">
        Le nom est requis.
      </div>
    </div>

    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom</label>
      <input id="prenom" formControlName="prenom" class="form-control" />
      <div *ngIf="clientForm.get('prenom')?.invalid && clientForm.get('prenom')?.touched" class="text-danger">
        Le prénom est requis.
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input id="email" formControlName="email" class="form-control" />
      <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" class="text-danger">
        Veuillez saisir un email valide.
      </div>
    </div>

    <div class="mb-3">
      <label for="tel" class="form-label">Téléphone</label>
      <input id="tel" formControlName="tel" class="form-control" />
      <div *ngIf="clientForm.get('tel')?.invalid && clientForm.get('tel')?.touched" class="text-danger">
        Le numéro de téléphone est requis.
      </div>
    </div>

    <div class="mb-3">
      <label for="adresse" class="form-label">Adresse</label>
      <input id="adresse" formControlName="adresse" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="cin" class="form-label">CIN</label>
      <input id="cin" formControlName="cin" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <input id="type" formControlName="type" class="form-control" />
      <div *ngIf="clientForm.get('type')?.invalid && clientForm.get('type')?.touched" class="text-danger">
        Le type est requis.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="clientForm.invalid || isSubmitting">
      {{ isSubmitting ? 'Enregistrement...' : 'Enregistrer' }}
    </button>
  </form>
</div>
