<div class="app-menu navbar-menu">
  <div class="navbar-brand-box">
    <a href="index.html" class="logo logo-light.png">
      <span class="logo-sm">
        <img src="assets/logo/icon-152x152.png" alt="" height="22">
      </span>
      <span class="logo-lg">
        <img src="assets/logo/icon-152x152.png" alt="" height="50">
      </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
      id="vertical-hover">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar">
    <div class="container-fluid">

      <div id="two-column-menu">
      </div>
      <ul class="navbar-nav" id="navbar-nav">
        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="/dashboard">
            <i class="ri-dashboard-2-line"></i> <span data-key="t-widgets">Accueil</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="/dashboard">
            <i class="ri-dashboard-2-line"></i> <span data-key="t-widgets">Listes des abonnements</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="/dashboard">
            <i class=" ri-user-star-line"></i> <span data-key="t-widgets">Listes des clients</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="/dashboard">
            <i class="ri-group-line"></i> <span data-key="t-widgets">Listes des comptes clients</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="/dashboard">
            <i class="ri-dashboard-2-line"></i> <span data-key="t-widgets">Rapport Global</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="/dashboard">
            <i class="ri-dashboard-2-line"></i> <span data-key="t-widgets">Liste des recharges</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>

  <div class="sidebar-background"></div>
</div>
