<div class="row">
  <div class="col">

    <div class="h-100">
      <div class="row mb-3 pb-1">
        <div class="col-12">
          <div class="d-flex align-items-lg-center flex-lg-row flex-column">
            <div class="flex-grow-1">
              <h4 class="fs-16 mb-1">Tableau de bord</h4>
              <p class="text-muted mb-0">Quelques statistiques importantes</p>
            </div>

            <div class="card-header d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-3">

                <span>Filtre: </span>
                <input type="text" class="form-control" placeholder="Année" maxlength="4" (input)="onSearch($event)" inputmode="numeric" id="cleave-date-format">
                <!-- <button
                  class="btn btn-outline-primary"

                  [disabled]="loading"
                >
              <i class="fas fa-sync" [class.fa-spin]="loading">Rechercher</i>
            </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>

              <!-- État de chargement -->
              <div *ngIf="loading" class="text-center p-4">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Chargement...</span>
                </div>
              </div>
                      <!-- Message d'erreur -->
        <div *ngIf="error" class="alert alert-danger">
          {{ error }}
        </div>

      <div class="row" *ngIf="!loading && !error">

        <div class="col-xl-3 col-md-6">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ (statistics?.montantMensuelsGlobals| currency: 'XOF') ?? 'XXXX' }}
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    RECETTE MENSUELLE</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-info-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-info"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ (statistics?.montantAnnuelsGlobals| currency: 'XOF') ?? 'XXXX' }}
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    RECETTE ANNUELLE</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-warning-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-warning"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ (statistics?.montantRecharges| currency: 'XOF') ?? 'XXXX' }}
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    RECETTE DES RECHARGES</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-primary-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-primary"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6" *ngIf=" d.getFullYear() === year">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ (statistics?.montantJournalierGlobals| currency: 'XOF') ?? 'XXXX' }}
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    RECETTE JOURNALIÈRE GLOBALE</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-primary-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-primary"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-3 col-md-6" *ngIf="year === d.getFullYear()">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ (statistics?.montantJournalierAKEP| currency: 'XOF') ?? 'XXXX' }}
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    RECETTE JOURNALIÈRE AKEP</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-warning-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-warning"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6" *ngIf="year === d.getFullYear()">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ (statistics?.montantJournalierAKEPDO| currency: 'XOF') ?? 'XXXX' }}
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    RECETTE JOURNALIÈRE EKEPDO</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-info-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-info"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6" *ngIf="year === d.getFullYear()">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ (statistics?.montantJournalierDavier| currency: 'XOF') ?? 'XXXX' }}
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    RECETTE JOURNALIÈRE DAVIER</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-success-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-success"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6" *ngIf="year === d.getFullYear()">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ (statistics?.montantJournalierVodougbe| currency: 'XOF') ?? 'XXXX' }}
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    RECETTE JOURNALIÈRE VODOUGBE</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-success-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-success"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ statistics?.nombresClient?? 'XXXX' }} Client(s)
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    NOMBRE CLIENT</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-info-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-info"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ (statistics?.nombresRecharges| currency: 'XOF') ?? 'XXXX' }}
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    NOMBRE DE RECHARGES</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-warning-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-warning"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mt-4">
                <div>
                  <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                    {{ statistics?.nbreAbonners ?? 'XXXX' }} Ab.(s)
                  </h4>
                  <p class="text-uppercase fw-medium text-muted text-truncate mb-0">
                    NOMBRE D'ABONNERS</p>
                </div>
                <div class="avatar-sm flex-shrink-0">
                  <span class="avatar-title bg-primary-subtle rounded fs-3">
                    <i class="bx bx-dollar-circle text-primary"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
