<div class="modal-content">
  <form novalidate [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="modal-header bg-primary">
      <h1 class="modal-title fs-5 text-uppercase text-center text-white w-100">Définir un MOT DE PASSE</h1>
      <button  type="button" id="closeModal" class="btn-close btn-close-white hidden" (click)="resetFormClose()"></button>
    </div>

    <div class="modal-body">
      <div class="mb-3">
        <label for="raison">Nouveau mot de passe </label>
        <div class="input-group">
          <input #password type="password"  class="form-control mt-0" placeholder="*************"
          formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
          <a (click)="togglePassword(password)" href="javascript:void(0);" role="button"
            class="input-group-text text-decoration-none border">
          </a>
        </div>
        <ng-container *ngIf="submitted && f['password'].errors">
          <small class="text-danger" *ngIf="f['password'].errors['required']"> Le mot de passe est obligatoire
          </small>
          <small class="text-danger" *ngIf="f['password'].errors['pattern']"> Le mot de passe doit contenir au moin
            une majuscule, une minuscule, un chiffre et un caractère special </small>
          <small class="text-danger" *ngIf="f['password'].errors['minlength']"> Le mot de passe doit contenir au
            moins 8 caractères </small>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="raison">Confirmez le mot de passe </label>
        <div class="input-group">
          <input #confPassword type="password"  class="form-control mt-0" placeholder="*************"
          formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
          <a (click)="togglePassword(confPassword)" href="javascript:void(0);" role="button"
            class="input-group-text text-decoration-none border ">
          </a>
        </div>
        <ng-container *ngIf="submitted && f['confirmPassword'].errors">
          <small class="text-danger" *ngIf="f['confirmPassword'].errors['required']"> Le mot de passe est
            obligatoire </small>
          <small class="text-danger" *ngIf="f['confirmPassword'].errors['mustMatch']"> Le mot de passe ne
            correspond pas </small>
        </ng-container>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary d-grid">{{ loading ? 'Veuillez patienter...' : 'ENREGISTER' }}
        <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2"></span>
      </button>
    </div>
    <!-- <pre>{{ resetPasswordForm.value | json }}</pre> -->
  </form>

</div>
